* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    background: url("../images/wallpaper.jpg");
    color: white;
    text-align: center;
    align-content: center;
    font-family: 'Open Sans', sans-serif;;
    font-weight: 400;
}
button {
    border-radius: 4px;
    border: 3px outset #9e9997;
}
button:focus {
    outline: 0;
}
h2, h4 {
    font-family: 'Oswald', sans-serif;
}
.question {
    font-weight: bold;
}
.container {
    width: 70%;
    min-height: 100%;
    background: black;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.buttons {
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.correct-div {
    position: relative;
    display: inline-block;
    width: 80px;
}
p {
    margin: 10px;
    max-width: 350px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.incorrect-div {
    width: 80px;
    position: relative;
    display: inline-block;
}
.timeDiv {
    width: 80px;
    position: relative;
    display: inline-block;
}
#timer {
    width: 80px;
}
.start {
    height: 40px;
    width: 120px;
    background: #716e6c;
    background: radial-gradient(circle farthest-corner at center center, #716e6c 60%, #77756f 90%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, #716e6c 60%, #77756f 90%);
}
.choice-btn {
    position: relative;
    color: black;
    align-content: center;
    width: 280px;
    height: 40px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-bottom: 10px;
    border: 2px outset #ba9e57;
    border-radius: 4px;
    color: black;
    border: 3px outset #9e9997;
    background: radial-gradient(circle farthest-corner at center center, #d0920f 50%, #dba602 90%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, #d0920f 50%, #dba602 90%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #d0920f 50%, #dba602 90%);
    cursor: default;
}
@media screen and (max-width: 640px) {
    .question-wrapper {
        width: 90%;
    }
}